<div class="relative mx-auto w-full max-w-2xl py-4 px-4 h-full md:h-auto">
    <div class="bg-white rounded-lg shadow relative">
        <div class="flex items-start justify-between p-5 border-b rounded-t">
            <h3 class="text-xl font-semibold">
                Add New user
            </h3>
        </div>
        <div class="p-6 space-y-6">
            <form action="/admin/users/add" method="post">
                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <label for="first-name" class="text-sm font-medium text-gray-900 block mb-2">First Name</label>
                        <input type="text" name="first_name" id="first-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Bonnie" required>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="last-name" class="text-sm font-medium text-gray-900 block mb-2">Last Name</label>
                        <input type="text" name="last_name" id="last-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Green" required>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="email" class="text-sm font-medium text-gray-900 block mb-2">Email</label>
                        <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="example@company.com" required>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="company" class="text-sm font-medium text-gray-900 block mb-2">Company</label>
                        <select name="company" id="company" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="e.g. +(12)3456 789" required>
                            <option disabled selected>Select Company</option>
                            <% companies.forEach(company => { %>
                                <option value="<%= company.id %>"><%= company.name %> </option>
                            <% }) %>
                        </select>
                    </div>

                </div> 
            </div>
            <div class="items-center p-6 border-t border-gray-200 rounded-b">
                <button class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Add user</button>
            </div>
        </form>
    </div>
</div>
